## Lambda Functions

A lambda fn is a small anonymous function

lambda arguments : expression

> A lambda fn can take any number or argumnets,but can only havr one expression.

In [8]:
add = lambda a, b:a+b
add(2,3)

5

In [5]:
import pandas as pd
df = pd.read_csv('Yelp_Reviews.csv', index_col=0)
df.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g
4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g
5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g
10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0,TlvV-xJhmh7LCwJYXkV-cg

## Simple `lambda` function

In [4]:
df['text'].map(lambda x: len(x.split())).head()

1     58
2     30
4     30
5     82
10    32
Name: text, dtype: int64

In [6]:
df['text'].map(lambda review_text:len(review_text.split())).head()

1     58
2     30
4     30
5     82
10    32
Name: text, dtype: int64

## Lambda functions with conditionals

In [7]:
df['text'].map(lambda x: "Good" if any([word in x.lower()for word in ['awesome', 'love', 'good', 'great']])else 'Bad').head()

1     Good
2      Bad
4     Good
5      Bad
10     Bad
Name: text, dtype: object